@charset "UTF-8";

/* Base */
html { font-family: "Ropa Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif; font-size: 16px; line-height: 1.5; }
body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); min-width: 960px; }
h1, h2, h3, p, ul { margin: 0; }
ul { padding-left: 0; }
ul li { list-style-type: none; }
a { color: inherit; text-decoration: none; }
img { vertical-align: middle; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


/*
 * Slideshow
 */

.slideshow {
    background-color: rgb(0, 0, 0);
    height: 465px;
    min-width: 960px;
    overflow: hidden;
    position: relative;
}

.slideshow-slides {
    height: 100%;
    position: absolute;
    width: 100%;
    /* left は JavaScript で指定 */
}
.slideshow-slides .slide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    /* left は JavaScript で指定 */
}
.slideshow-slides .slide img {
    left: 50%;
    margin-left: -800px;
    position: absolute;
}

.slideshow-nav a,
.slideshow-indicator a {
    background-color: rgba(0, 0, 0, 0); /* for IE9 */
    overflow: hidden;
}
.slideshow-nav a:before,
.slideshow-indicator a:before {
    content: url(sprites.png);
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.slideshow-nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-top: -36px;
}
.slideshow-nav a.prev {
    margin-left: -480px;
}
.slideshow-nav a.prev:before {
    margin-top: -20px;    
}
.slideshow-nav a.next {
    margin-left: 408px;
}
.slideshow-nav a.next:before {
    margin-left: -80px;
    margin-top: -20px;
}
.slideshow-nav a.disabled {
    display: none;
}

.slideshow-indicator {
    bottom: 30px;
    height: 16px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.slideshow-indicator a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
}
.slideshow-indicator a.active {
    cursor: default;
}
.slideshow-indicator a:before {
    margin-left: -110px;
}
.slideshow-indicator a.active:before {
    margin-left: -130px;
}

/* JavsScript 無効時 */
.no-js .slideshow {
    height: auto;
}
.no-js .slideshow-slides {
    height: auto;
    position: static;
}
.no-js .slideshow-slides .slide {
    display: block;
    height: auto;
    position: static;
}
.no-js .slideshow-slides .slide img {
    margin: auto;
    position: static;
}
.no-js .slideshow-nav,
.no-js .slideshow-indicator {
    display: none;
}


/*
 * Page header
 */

.page-header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.no-boxshadow .page-header {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.page-header > .inner {
    margin: auto;
    width: 960px;
}

/* Logo */
.site-logo {
    font-size: 100%;
    float: left;
    /*margin-left: -20px;*/
    /*padding-top: 15px;*/
}

/* Primary nav */
.primary-nav {
    float: right;
    line-height: 65px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.primary-nav li {
    float: left;
}
.primary-nav a {
    display: block;
    padding: 0 1.36em;
}
.primary-nav a:hover {
    background-color: rgb(240, 240, 240);
}

/* Sticky header (clone) */
.page-header-clone {
    background-color: #ffd;
    opacity: 0.9;
    position: fixed;
    top: -48px;
    width: 100%;
    z-index: 50;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-transition: top 0.25s;
            transition: top 0.25s;
}
.page-header-clone > .inner {
    margin: auto;
    width: 960px;
}
.page-header-clone.visible {
    top: 0;
}
.page-header-clone:hover {
    opacity: 1;
}
.page-header-clone .site-logo {
    margin-left: 8px;
}
.page-header-clone .site-logo a {
    display: block;
    width: 250px;
    height: 35px;
    overflow: hidden;
}
.page-header-clone .site-logo a:before {
    content: "";
    display: inline-block;
    background-image: url(20200919logo1.png);
    background-size: contain;
    vertical-align: middle;
    width: 50%;   
    height: 100px;
    margin-top: 5px;
}
/*.page-header-clone .site-logo a {*/
/*  width: 50%;  */
/*}*/
.page-header-clone .primary-nav {
    font-size: 14px;
    line-height: 40px;
}
.page-header-clone .primary-nav a {
    color: rgb(128, 128, 128);
}

/*自己紹介*/
.avator_image {
    object-fit: cover;
    /*border-radius: 50%;*/
}
#vorstellung {
    background: #ffd;
    
}
.fotovonmir{
    position: absolute; top: 87px; left: 13px; width: 300px; height: 300px;
    z-index: 40;
}
 @import url('https://fonts.googleapis.com/css?family=Courgette');
 
 .fotovon {
  position: relative;
  background: #ffd;
}
 
.fotomaru {
  width: 280px;
  height: 300px;
  left: 20%;
  mix-blend-mode: multiply;
}
.circle-1 {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  animation: border-animation 6s infinite linear;
  z-index: 20;
  position: absolute; top: 140px; left: 0px; width: 300px; height: 300px;
  
}
.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  animation: border-animation 4s infinite linear;
  position: absolute; top: 140px; left: 0px; width: 300px; height: 300px;
  z-index: 30;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  position: absolute; top: 140px; left: 0px; width: 300px; height: 300px;
  animation: border-animation 3s infinite linear;
  z-index: 10;
}
.circle-4 {
  background: #14B1AB;
  opacity: 0.8;
  border-radius: 60% 40% 50% 40%/30% 50% 60% 50%;
  animation: border-animation 4s infinite linear;
  position: absolute; top: -30px; left: 540px; width: 160px; height: 160px;
  z-index: 30;
}
.circle-5 {
  background: #f66;
  opacity: 1;
  border-radius: 80% 30% 50% 50%/50%;
  position: absolute; top: 200px; left: 500px; width: 150px; height: 140px;
  z-index: 5;
}
.circle-6 {
  background: #fc2;
  opacity: 0.8;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  position: absolute; top: 195px; left: 620px; width: 200px; height: 200px;
  z-index: 30;
}
.circle-7 {
  background: #14B1AB;
  border-radius: 80% 30% 50% 50%/50%;
  animation: border-animation 50s infinite linear;
  position: absolute; top: 10px; left: -30px; width: 100px; height: 100px;
  z-index: 30;
}
.circle-8 {
  background: #f66;
  opacity: 0.8;
  border-radius: 60% 40% 50% 40%/30% 50% 60% 50%;
  position: absolute; top: 50px; left: 250px; width: 150px; height: 150px;
  z-index: 5;
}
.circle-9 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 50s infinite linear;
  position: absolute; top: 280px; left: 420px; width: 120px; height: 120px;
  z-index: 30;
}
/*.circle-10 {*/
/*  background: #14B1AB;*/
/*  border-radius: 80% 30% 50% 50%/50%;*/
/*  animation: border-animation 50s infinite linear;*/
/*  position: absolute; top: 10px; left: -30px; width: 100px; height: 100px;*/
/*  z-index: 30;*/
/*}*/

/* Animation */
@keyframes border-animation {
  to { transform: rotate(360deg); }
}

#Text1{
    padding: 100px;
    color: #ffd;
    margin-top: 30px;
    margin-bottom: 90px;
    font-weight: bold;
    background: #f92;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    z-index: 20px;
}
.mir {
    font-weight: bolder;
}
/*-------流れ説明---------*/
#verfahren{
    /*background: linear-gradient(to top, #FFD700 90%, #ffd);*/
    font-weight: bolder;
    padding: 80px;
    padding-top: 130px;
    padding-bottom: 150px;
    background: linear-gradient(45deg, #f1c40f, #ff7f50, #ffa500);
    background-size: 600% 600%;
    animation: AnimationName 9s ease infinite;
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.verfahrenh1 {
    color: #ffd;
    font-weight: bolder;
}
.mussen {
    list-style: disc;
    display: table;
}
.mussen-p {
    font-size: 50px;
    text-align: center;
}
.muusen1 {
    display: table-cell;
}
.sprach_image {
    object-fit: cover;
}    
.visa_image {
    object-fit: cover;
}    
.schule_image {
    object-fit: cover;
}    
.bewerbung_image {
    object-fit: cover;
}    
.bewerbung2 {
    text-align: center;
}
.zulassung_image {
    object-fit: cover;
}   
.a2{
    
}
.es {
    color: #ffd;
    text-align: center;
}
/*----------タブ-------*/
#sprachdiv {
    background-color: #ffd;
}
.sprachtab {
    background-color: #ffd;
}
.sprachtesth1 {
    padding-top: 80px;
    font-weight: bolder; 
}
.sprachtestp {
    padding-bottom: 80px;
    font-weight: bold; 
}
.tab_item {
  display: none;
}

.is-active-item {
  display: block;
}

/* aタグをブロック要素にする。文字色は親クラスと同様に、下線は消す */
a {
  color: inherit;
  text-decoration: none;
}
.tabbbb{
    background-color: #ffd;
    color: white;
    text-align:center
}

.tab_btn {
  font-size: 24px;
  padding: 5px;
　display: flexbox; /* ボタンを横並びに。flexboxなどでも可 */
  border-radius: 5px 5px 0 0;
  margin-left: 1%;
  width: 21%;
  color: white;
  font-weight: bolder; 
}
.tabu1{
    margin-left: 5%;
    background-color: #ff7f50;
    opacity: 0.8;
    cursor: pointer;
}
.tabu2{
    background-color: #f9d56e;
    opacity: 0.8;
    cursor: pointer;
}
.tabu3{
    background-color: #ff6347;
    opacity: 0.8;
    cursor: pointer;
}
.tabu4{
    background-color: #f92;
    opacity: 0.8;
    margin-right: 5%;
    cursor: pointer;
}

.is-active-btn {
  opacity: 1;  /*アクティブなボタンは半透明を解除 */
  color: #00BFFF; 
}

.tab_item {
  width: 400px;
  height: 300px;
  padding: 5px;
  /*background-color: #E0F2F7;*/
}
/*-------語学試験中身-------*/
.foto-DSH {
    padding: 80px;
    padding-top: 100px;
}
.foto-DSHa {
    display: inline-block;
}
.float-right {
    margin-right: 100px;
    padding: 0;
    position: relative;
}
#item1 {
    padding-top: 30px;
    height: 1050px;
    background-color: #ff7f50;
    font-weight: bold; 
}

.DSHli {
  color: #ff7f50;
  margin-left: 30px;
  font-size: 40px;
  font-weight: bolder; 
  padding-top: 30px;
}
.dshmerkmal{
    background-color: white;
    border-radius: 50px;
    padding-bottom: 30px;
}
.DSHtext {
    margin: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: black;
}
.p1 {
    color: black;
}
.dshstr{
    background-color: white;
    border-radius: 50px;
    margin-top: 20px;
    width: 48%;
}
.li-DSH-struktur {
	list-style-type: disc;
	margin-left: 24px;
	text-align: left;
}
.DSHtext2 {
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold; 
}
.DSHtext3 {
    margin-top: 15px;
    margin-left: 20px;
}
.DSHtext4 {
    margin-bottom: 40px;
    margin-top: 15px;
    margin-left: 20px;
}
.dshbestehe{
    background-color: white;
    border-radius: 50px;
    margin-top: 20px;
    padding-bottom: 30px;
}
#item2 {
    padding-top: 30px;
    height: 910px;
    background-color: #f9d56e;
}
.r21 {
    height: 360px;
}
.foto-DSH {
    padding-top: 30px;
}
.testdafli {
    color: #f9d56e;
    margin-left: 30px;
    font-size: 40px;
    font-weight: bolder; 
    padding-top: 30px;
}
.TDmerkmsl {
    background-color: white;
    border-radius: 50px;
    height: 350px;
}
.testdaftext {
    margin: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: bold; 
}
.testdastr {
    background-color: white;
    border-radius: 50px;
    margin-top: 20px;
}
.testdaftext3 {
    font-weight: bold; 
}
.testdafbesthe {
    background-color: white;
    border-radius: 50px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.testdaftext5 {
    font-weight: bold; 
}
#item3 {
    padding-top: 30px;
    height: 900px;
    background-color: #ff6347;
}
.telcli {
    color: #ff6347;
    margin-left: 30px;
    font-size: 40px;
    font-weight: bolder; 
    padding-top: 30px;
}
.telcmerkmal{
    background-color: white;
    border-radius: 50px;
    height: 470px;
}
.telctext {
    font-weight: bold; 
}
.telcstr{
   background-color: white;
   border-radius: 50px; 
}
.telcbestehe {
   background-color: white;
   border-radius: 50px; 
}
#item4 {
    padding-top: 30px;
    height: 670px;
    background-color: #f92;
}
.r24 {
    height: 370px;
}
.goetheli {
    color: #f92;
    margin-left: 30px;
    font-size: 40px;
    font-weight: bolder; 
    padding-top: 30px;
}
.goethemerkmal {
    background-color: white;
    border-radius: 50px;
    height: 300px;
}
.goethestr {
    background-color: white;
    border-radius: 50px;   
}
.goethebesthe {
    background-color: white;
    border-radius: 50px;
}
.goethetext {
    font-weight: bold; 
    padding-left: 40px;
    padding-right: 40px;
}
/*--------フィルター-----------*/
.search-box_label {
	font-weight: bold;
	color: #ff7f50;
}
.filtermaturi {
    color: #ffd;
    font-weight: bold;
    position: absolute;
    z-index: 40;
}
.circle-11 {
  background: #f66;
  opacity: 0.8;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  animation: border-animation 6s infinite linear;
  z-index: 20;
  position: absolute; top: -22px; left: 0px; width: 80px; height: 80px; 
}
.circle-12 {
  background: #f92;
  opacity: 0.8;
  animation: border-animation 4s infinite linear;
  border-radius: 60% 40% 50% 40%/30% 50% 60% 50%;
  position: absolute; top: -22px; left: 116px; width: 80px; height: 80px;
  z-index: 5; 
}
.circle-13 {
  background: #ffa500;
  opacity: 0.8;
  animation: border-animation 6s infinite linear;
  border-radius: 60% 40% 50% 40%/30% 50% 60% 50%;
  position: absolute; top: -22px; left: 168px; width: 80px; height: 80px;
  z-index: 5; 
}
.circle-14 {
  background: #fc2;
  opacity: 0.8;
  animation: border-animation 6s infinite linear;
  border-radius: 60% 40% 50% 40%/30% 50% 60% 50%;
  position: absolute; top: -22px; left: 57px; width: 80px; height: 80px;
  z-index: 5; 
}
.ttest {
    background-color: #ffd;
    padding-top: 100px;
    height: 1000px;
}
.map-cb {
    color: #ff7f50;
}
.list {
    overflow: scroll;
    height: 500px;
    padding-top: 50px;
    margin-top: 50px;
}
.list_item {
	list-style-type: disc;
	margin-left: 24px;
	text-align: left;
}
.search-box {
    padding: 5px;
}    
.filterrecht {
    padding-top: 80px;
}
/*----------------googlemap------------------*/
.maph1{
    color: red;
    border: solid 2px red;
    border-radius: 30px;
    padding: 10px;
}
#target {
    border: 1px outset gray;
    width: 1000px;
    height: 650px;
    margin-top: 15px;
}
#sidebar {
    border: 1px solid #666;
    padding: 6px;
    margin-top: 10px;
    background-color: white;
    font-family: Meriyo UI;
    font-size: 12px;
    overflow: auto;
    width: 300px;
    height: 786px;
}
.icon {
    width: 200px;
}
/*.btn-primary {*/
/*    color: #ff6347;*/
/*}*/
/*-----------ビサ-----------------*/
.visumerk{
    margin: 100px;
    margin-top: 0px;
}
.visumh1 {
    font-weight: bolder;
    /*color: #f66;*/
}
.visump{
    width: 80%;
    margin: 0 auto;
}
.visumtitel{
    text-align: center;
    font-weight: bolder;
 }
.visumul {
    font-size: 80%; 
    padding-left: 15%; 
    padding-top: 15px;
}   
.visum1 ,
.visum2 {
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 110%;
  margin: -10px -20px;
  mix-blend-mode: multiply;
}
.visum3 ,
.visum4 {
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 110%;
  margin: -10px -25px;
  mix-blend-mode: multiply;
}
.visum1  {
  background: #f66;
  border-radius: 60% 80% 70% 60%/60% 50% 80% 60%;
}
.visum2  {
  background: #f92;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
} 
.visum3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}
.visum4  {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.visum {
  /*display: flex;*/
  justify-content: center;
  padding: 20px;
  background: #ffd;
  padding-bottom: 80px;
}

@media (max-width: 600px) {
 .visum {
    flex-direction: column;
  }
}
/*.visum1 {*/
/*    background-color: pink;*/
/*}*/
/*.visum2 {*/
/*    background-color: #FFFF99;*/
/*}*/
/*.visum3 {*/
/*    background-color: #BAD3FF;*/
/*}*/
/*.visum4 {*/
/*    background-color: #B1F9D0;*/
/*}*/

/*----------質問コーナー-----------------*/
#fragens {
    padding-bottom: 50px;
    background-color: #f92;
}
.fragensh2 {
    font-weight: bolder;
    color: #ffd;
}
.form-group {
    color: #ffd;
    font-weight: bolder;
}
.mt-2 {
    background-color: #f92;
    padding: 40px;
    margin-top: 0px;
    /*background: linear-gradient( #ffd 5%, #f92 95%);*/
}
.tabel {
    background-color: #f92;
    padding-bottom: 500px;
    margin-top: 0px;
}
th {
    color: #ffd;
    font-weight: bolder;
}
.pagetop {
    font-weight: bold;
    margin-top: 100px;
}
/*-------------show.php----------------*/
.show {
    background-color: #f92;
     color: #ffd;
    font-weight: bolder;
}